name: "Test GAP installation (quick)"

on:
  - workflow_dispatch

jobs:
  test:
    name: "Test on GAP-${{ matrix.gap-branch }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - gap-branch: "master"
          - gap-branch: "4.11"
          - gap-branch: "4.10"
          - gap-branch: "4.9"
          
    container:
      image: ghcr.io/stertooy/gda-image:${{ matrix.gap-branch }}-slim
      
    steps:
    
      - name: "Checkout"
        uses: actions/checkout@v3
          
      - name: "Run GAP tests with suggested packages"
        uses: sTertooy/gda-test-gap@v1
